form {
    height: 450px;
}

.card-body {
    height: 270px;
}

.contact-page {
    height: 600px;
}

.test{
    background-size: cover;
    background-image: url('../images/backround-1.jpg');
    background-position: center;
}
