.food-page {
    background-image: url('../images/backround-1.jpg');
    background-size: cover;
}

.food-menu {
    height: max-content;
}

h1 a ,h1 a:hover {
    color : white;
}

.plusbtn {
    color: white;
}

.ingre {
    font-size: 12px;
}

