.food-page {
    font-family: 'Arimo', sans-serif;
    height: max-content;
}

.food-menu {
    height: max-content;
}

h1 a ,h1 a:hover {
    color : white;
}

.plusbtn {
    color: white;
}

.ingre {
    font-size: 12px;
}

