.one{
    height: 100vh;
    background-image: url('../images/backHome2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} 

.one-container {
    height: 70vh;
}

.one-half{
    height: 25vh;
 }

.shape {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    height: 380px;
    width: 380px;
 }
 
 .two {
    height: 60vh;
    font-family: 'Arimo', sans-serif;
 }
 
 p button a{
    text-decoration: none;
 }

 .find-us-text{
    font-family: 'Arimo', sans-serif;
     font-size: 70px;
     font-weight: bolder;
 }

 .find-us-social {
     font-size: 60px;
 }

 .ml-10 {
     margin-left: 10%;
 }

