/* ONE */
.one{
    height: 100vh;
    background-image: url('../images/backHome2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} 

.one-container {
    height: 70vh;
}

.find-us-text{
    font-family: 'Arimo', sans-serif;
     font-size: 70px;
     font-weight: bolder;
 }

 .find-us-social {
     font-size: 60px;
 }


/* ONE HALF */
.one-half{
    height: 30vh;
 }


/* TWO */
.shape {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    height: 380px;
    width: 380px;
 }
 
 .two {
    height: 70vh;
    font-family: 'Arimo', sans-serif;
 }
 
 p button a{
    text-decoration: none;
 }

 
/* GENERAL */
 .ml-10 {
     margin-left: 10%;
 }


/* CAROUSEL THREE */
 .carousel-container {
     height: 90vh;
 }

/* MEDIA FOR MOBILE SCREENS */

 @media only screen and (max-width: 800px) {
    .welcomeTo {
        padding-top: 15%;
    }

    .find-us-text{
        font-size: 40px;
        font-weight: lighter;
    }

    .find-us-social {
        font-size: 30px;
    }

    .one{
        height: 80vh;
    }

    .one-half{
        height: 20vh;
     }

    .contact-btn h1 {
        font-size: 30px;
    }

    .shape {
        height: 340px;
        width: 340px;
     }

     .shape-signature{
         width: 50% !important;
     }

    
    

}