@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

nav {
    height: max-content;
    font-family: 'Nunito', sans-serif;
}

.navbar-brand {
    font-family: 'Train One', cursive;
    font-size: 35px;
}

.navbar-nav {
    font-size: 18px ;
}

.company-name{
    font-family: 'Love Ya Like A Sister', cursive;
}
