#root  {
   /* Here is the root (index.html) styles. */

}

.letter-spacing{
   letter-spacing: 2px;
}

.company-name{
   font-family: 'Love Ya Like A Sister', cursive;
}

.w-35{
   width: 35%;
}

.bg-leaf{
   background-size: cover;
   background-image: url('./images/backround-1.jpg');
   background-position: center;
}